/.vs/
x64/
!ThirdParty/
!ThirdParty/fmod_2_03_12/
!ThirdParty/fmod_2_03_12/lib/
!ThirdParty/fmod_2_03_12/lib/x64/
!ThirdParty/tracy-0.13.1/
/EngineSDK/

**/Bin/

imgui.ini


/vcpkg_installed
!/ThirdParty/imgui-node-editor-0.9.3
